:host {
    display: block;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #f1f5f9;
    border-radius: 0.5rem;
}

audio {
    width: 100%;
}