:host {
  display: block;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #000;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
